@charset "utf-8";

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body{
	height:100%;
	min-width:1024px !important;
	max-width:100%;
	background:#FEC31D !important;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-font-smoothing: antialiased;
}
#all {
	background:#FFF;	  
	position:relative;
	margin:0 auto;
	width:100%;
	overflow:hidden;
	min-width:1024px !important;
	max-width:100%;
}
* {
	margin:0;
	padding:0;
}
img {
	border:none !important;
}
#center_header{
	width:1024px;
	height:110px;
	margin:0 auto;
}
#logo {
	float: left;
	margin: 10px 0;
}
#extras_topo {
	width: 330px;
	height: 50px;
	float: right;
	margin-top: 45px;
}
#extras_topo  form {
	width:270px;
	float:left;
}
#extras_topo a {
	float:right;
	color:#FEC01D;
	font-size: 20px;
	line-height: 56px;
}

.search {
    padding: 10px 8px;
    background: #FFFFFF;
    border: 2px solid #fecc3f;
}
.button {
    position:relative;
    padding: 10px 25px;
    left: -7px;
    top: 5px;
    border:2px solid #fecc3f;
    background:#fecc3f url("../images/ic_search.png") center no-repeat;
}
#container {
	height:1000px;
	background: #fbc01e; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #fbc01e 0%, #ce9716 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fbc01e), color-stop(100%,#ce9716)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #fbc01e 0%,#ce9716 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #fbc01e 0%,#ce9716 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #fbc01e 0%,#ce9716 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #fbc01e 0%,#ce9716 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbc01e', endColorstr='#ce9716',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#container_center {
	width:1024px;
	margin:0 auto;
	height: 100%;
}
#download {
	width:200px;
	float:left;
	color:#FFF;
	font-size: 46px;
	margin: 40px 0;
	text-decoration:none;
}
#download:hover {
	text-decoration:none;
}
#slogan {
	width:310px;
	height:265px;
	float:right;
	color:#FFF;
	font-size: 46px;
	margin-top: 320px;
}
#link-apps {
    list-style: none;
	width:1024px;
	height:100px;
    float:left;
	position: relative;
	top: 290px;
}
#link-apps li{
    display:inline;
}
#link-apps li:nth-child(2){
    margin: 0 100px;
}
footer {
	height:95px;
	background:#FEC31D;
}
#center_footer {
	width:1024px;
	height:100%;
	margin:0 auto;
}
#center_footer ul{
	list-style:none;
	float:left;
	margin-top:40px;
}
#center_footer ul li{
	display:inline;
	margin:0 20px;
}
#center_footer ul li a{
	color:#FFF;
	text-decoration:none;
	font-size:20px;
}
#center_footer ul li a:hover{
	text-decoration:none;
}
#copyright-uWant {
	float:right;
	color:#FFF;
	font-size:20px;
	margin-top:40px;
}

/**** TELA LOGIN E CADASTRO ****/
#cadastro {
    width: 480px;
    height: 800px;
    background:#FFFFFF;
    float:left;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
#cadastro h1{
    font-size:24px;
    color:#fecc3f;
    width:100%;
    float:left;
}
#cadastro img{
    margin:0 auto;
}
#login {
    width: 480px;
    height: 800px;
    background:#FFFFFF;
    float:right;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
#login h1{
    font-size:24px;
    color:#fecc3f;
    width:100%;
    float:left;
}
