@(user: models.classes.User, hash: String, mail: String)

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
</head>

<body>
<div id="all">
    <p>Seja bem-vindo, @user.getName()!</p>
    <p>Voc&ecirc; n&atilde;o sabe como estamos felizes em saber que agora voc&ecirc; faz parte da fam&iacute;lia uWant!</p>
    <br />
    <p>Estamos encaminhando esse e-mail para confirmamos que este e-mail &eacute; realmente seu.</p>
    <p>Com isso, iremos garantir maior seguran&ccedil;a da sua conta, al&eacute;m do que todos os informativos sobre o seu usu&aacute;rio ser&atilde;o enviados diretamente para aqui!</p>
    <p>Legal, n&eacute;? :-)</p>
    <br />
    <p>Para confirmar o seu e-mail, por favor, clique no link: <a href="@controllers.web.routes.UserController.confirmMailView(hash, mail)">CONFIRMAR E-MAIL</a>!</p>
    <br />
    <p>Caso voc&ecirc; n&atilde;o consiga acessar o link acima, tente atrav&eacute;s desse link:</p>
    <span><a href="http://www.uwant.com.br@controllers.web.routes.UserController.confirmMailView(hash, mail)">http://www.uwant.com.br@controllers.web.routes.UserController.confirmMailView(hash, mail)</a></span>
    <br />
    <p>Obrigado novamente, e n&atilde;o esque&ccedil;a de convidar seus amigos!</p>
    <p>uWant, sua rede social de desejos.</p>
    <br />
    <p><strong>ATEN&Ccedil;&atilde;O!</strong></p>
    <p><strong>N&atilde;O RESPONDA ESSE E-MAIL!</strong></p>
</div>
</body>
</html>
