@(userForm: Form[models.cloud.forms.UserViewModel])

@import helper._

@main(Messages.apply("site.index.title")) {
<div id="container">
    <div id="cadastro">
        @form(action = controllers.web.routes.UserController.register(), 'id -> "form_registro") {
            @CSRF.formField
            <h1>@Messages.apply("authentication.register.title")</h1>

            <img src="@routes.Assets.at("/images/ic_semfoto.png")">
        }
    </div>

    <div id="login">
        @form(action = controllers.web.routes.AuthenticationController.authorize(), 'id -> "form_login") {
            @CSRF.formField
            <h1>@Messages.apply("authentication.login.title")</h1>
        }
    </div>
</div>
}
