@main("uWant @ Sua rede social de desejos") {
<div id="container">
    <div id="container_center" style="background: url(@routes.Assets.at("/images/img_app.png")) left center no-repeat;">
        <a href="#" id="download">
            Donwload
        </a>
        <div id="slogan">
            Chegou a forma mais fácil de pedir presentes.
        </div>
        <a href="#">
            <img src="@routes.Assets.at("/images/img_gplay.png")" id="gplay" title="Baixe agora!">
        </a>
    </div>
</div>
}
