@main(Messages.apply("site.index.title")) {
<div id="container">
    <div id="container_center" style="background: url(@routes.Assets.at("/images/img_app.png")) left center no-repeat;">
        <a href="#" id="download">
            Download
        </a>
        <div id="slogan">
            @Messages.apply("site.index.slogan")
        </div>

        <ul id="link-apps">
            <li>
                <a href="#">
                    <img src="@routes.Assets.at("/images/img_apple.png")" title="Baixe agora!">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="@routes.Assets.at("/images/img_windows.png")" title="Baixe agora!">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="@routes.Assets.at("/images/img_gplay.png")" title="Baixe agora!">
                </a>
            </li>
        </ul>

    </div>
</div>
}
