@(message: String, user: models.classes.User)

@import helper._

@main("uWant @ Notificação", null) {
    @if(message != null && !message.isEmpty()) {
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @message
        </div>
    }

    <div class="container">
        <h2>Notificação ao usuário</h2>
        <p>Configure a notificação que será enviada para @user.getName().</p>

        <div>
            @form(action = controllers.web.routes.NotificationController.send(user.getId())) {
                @CSRF.formField

                <input type="text" name="title" class="form-control" placeholder="Digite o título" required autofocus>
                <input type="text" name="message" class="form-control" placeholder="Digite a mensagem" required>
                <input type="datetime-local" name="when" class="form-control" placeholder="dd/MM/yyyy HH:mm">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
            }
        </div>
    </div>
}
