@(message: String, id: Long, mailId: Long)

@main("Confirmação de e-mail") {
    <div class="container">
        <h2>Atenção!</h2>
        <p>@message</p>

        @if(id != -1) {
            <div>
                @helper.form(action = controllers.web.routes.UserController.recoveryPassword(id, mailId)) {
                    <input type="password" name="password" class="form-control" placeholder="Digite a nova senha" required autofocus>
                    <input type="password" name="confirmPassword" class="form-control" placeholder="Confirme a nova senha" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Redefinir</button>
                }
            </div>
        }
    </div>
}
