@(logged: Boolean)

@main("uWant @ Sobre", logged) {
    <div class="container">
        <img src="@routes.Assets.at("images/uwant_logo.jpg")" />
        <h2>Sobre</h2>
        <div>
            <p>Somos uma empresa concebida nos dois extremos brasileiros - i.e. Nordeste e Sul - a partir de uma idéia de três jovens sonhadores.</p>
            <p>Como muito sabem, nenhum sonhador consegue fazer nada sozinho! Foi por isso que o uWant começou a busca por novos sonhadores, oferecendo-lhes uma oportunidade de poder brilhar.
                Hoje contamos com seis colaboradores que fazem de tudo para deixar o uWant cada vez melhor!</p>
            <br />
            <p>Inicialmente, nosso produto foi desenvolvido em casa durante nossas folgas e fins de semanas. Dureza, né?</p>
            <p>Hoje queremos que você possa usufruir do fruto de nosso suor através do uWant e que você possa colocar todos os seus desejos para que seus amigos ou familiares possam lhe dar em uma próxima oportunidade.</p>
            <br />
            <p>Abraço de toda a equipe do uWant - Sua rede social de desejos.</p>
            <br />
            <p><strong>ATENÇÃO:</strong> Nenhuma informação pessoal será utilizada sem a sua autorização prévia, fique tranquilo.</p>
            <p>copyright - uWant @@ 2014</p>
        </div>
    </div>
}